//font weight helper
$i: 100;
@while $i < 1000 {
  .fw-#{$i} {
    font-weight: $i;
    * {
      font-weight: $i;
    }
  }
  $i: $i + 100;
}

//font-size helper

$j: 8;
@while $j < 100 {
  .fz-#{$j} {
    font-size: #{$j}px;
    line-height: 1.22em;
    * {
      font-size: #{$j}px;
      line-height: 1.22em;
    }
  }

  .fz-md-#{$j} {
     @include breakpoint(md) {
       font-size: #{$j}px;
       line-height: 1.22em;
       * {
         font-size: #{$j}px;
         line-height: 1.22em;
       }
     }
   }
  .fz-lg-#{$j} {
    @include breakpoint(lg) {
      font-size: #{$j}px;
      line-height: 1.22em;
      * {
        font-size: #{$j}px;
        line-height: 1.22em;
      }
    }
  }
  $j: $j + 1;
}

//line-height-helper
$k: 10;
@while $k < 65 {
  .lh-#{$k} {
    line-height: #{$k}px;
    * {
      line-height: #{$k}px;
    }
  }
  $k: $k + 1;
}

//letter-spacing-helper
$m: 0;
@while $m < 20 {
  .ls-#{$m} {
    letter-spacing: #{$m}px;
    * {
      letter-spacing: #{$m}px;
    }
  }
  $m: $m + 1;
}
