.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-tertiary{
  background-color: #474D5C;
}
.bg-tertiary-light{
  background-color: #EFEFEF;
}