.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-tertiary{
  background-color: #474D5C;
}
.bg-tertiary-light{
  background-color: #EFEFEF;
}

.jumbotron-home{
  background: url('../img/hero-bg.jpg') no-repeat bottom center; background-size: cover; height:60vh;
}

.jumbotron-blog{
  background: url('../img/blog-bg.jpg') no-repeat bottom center; background-size: cover; height:60vh;
}