<nav class="navbar navbar-expand-lg navbar-light p-3  sticky-top" >
    <a class="navbar-brand oswald fw-700 fz-30" href="{{ site.url }}/">JM <em class="fas fa-code"></em></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-pills ml-auto fz-18">
            <li class="nav-item">
                <a class="nav-link {% if page.active ==  "home" %} active {% endif %}" href="{{ site.url }}/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.active ==  "experience" %} active {% endif %}" href="{{ site.url }}/experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.active ==  "projects" %} active {% endif %}" href="{{ site.url }}/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.active ==  "blog" %} active {% endif %}" href="{{ site.url }}/blog">Blog</a>
            </li>



        </ul>
    </div>
</nav>
