---
title: Jayson's Monterroso Blog
layout: blog
active: blog
---
<div class="row">
    {% for post in site.posts %}
        <div class="col-lg-6 col-12">
            {% assign images = post.content| split:"<img " %}
            {% for image in images %}
                {% if image contains 'src=' %}
                    <a class="container p-0 mb-3 preview-img" href="{{ post.url }}">
                        {% assign imageMarkup = image | split:">" | first %}
                        <img {{ imageMarkup }} class="img-fluid">
                    </a>
                    {% break %}

                {% endif %}
            {% endfor %}

            <h3 class="oswald "><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <h6>{{ post.date | date: "%B %e, %Y" }}</h6>
            <div class="row">
                <div class="col-12 d-flex">
                    {% for category in post.categories %}
                        <h5 class="mr-2"><a href=""><span class="badge badge-secondary">{{ category }}</span></a></h5>
                    {% endfor %}
                </div>
            </div>
            <div class="row no-gutters mt-1">
                <div class="col-12">
                    <p class="mt-0 mb-3 fz-16">{{ post.content | strip_html | truncatewords: 25 }}</p>
                    <a class="d-block fz-18 _{{ post.title }}-readMore" href="{{ post.url }}">Read More &raquo;</a>
                </div>

            </div>
        </div>
    {% endfor %}

</div>

