---
layout: core

---
<div class="mb-8">
    <div class="max-w-2xl">
        <h1 class="text-5xl font-bold tracking-tight mb-4">Code Chronicles</h1>
        <p class="dark:text-zinc-400 leading-7">A Deep Dive into the World of Programming and Development" From new programming languages to emerging frameworks, I delve into the latest tools and techniques used by software developers around the world.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        {{ content }}
    </div>
</div>
