<!doctype html>
<html lang="{%if page.lang %}{{ page.lang }} {% else%} en{% endif %}" class="{{ layout.cls }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
        <meta content="{{ page.title }}" property="og:title">
    {% else %}
        <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
        <meta content="article" property="og:type">
    {% else %}
        <meta content="website" property="og:type">
    {% endif %}
    {% if page.reading_time %}
        <meta name="twitter:label1" value="Reading time" />
        <meta name="twitter:data1" value="{{ page.reading_time }} Read" />
    {% endif %}
    {% if page.description %}
        <meta content="{{ page.description }}" property="og:description">
        <meta name="description" content="{{page.description}}">

    {% else %}
        <meta content="{{ site.description }}" property="og:description">
        <meta name="description" content="{{site.description}}">
    {% endif %}
    {% if page.url %}
    {% endif %}
    {% if page.date %}
        <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
        <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}
    {% if page.image %}
        <meta content="{{ site.url }}{{ page.image }}" property="og:image">
    {% else %}
        <meta content="{{ site.url }}/img/cover-image.png" property="og:image">
    {% endif %}
    {% if page.categories %}
        {% for category in page.categories limit:1 %}
            <meta content="{{ category }}" property="article:section">
        {% endfor %}
    {% endif %}
    {% if page.tags %}
        {% for tag in page.tags %}
            <meta content="{{ tag }}" property="article:tag">
        {% endfor %}
    {% endif %}
    <title>{{ page.title  }}</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body >
{% include partials/nav-bar.html %}
<main class="container-fluid px-0">

    {{ content }}
</main>

    <footer id="footer" class="bg-dark py-5 mt-5 text-light">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p class="fz-16 mb-0">Copyright 2018 &reg;</p>
                </div>
                </hr>
            </div>
        </div>
    </footer>
</body>
<script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://www.googletagmanager.com/gtag/js?id=UA-122727615-1" async></script>
<script defer>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-122727615-1');
</script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
    WebFont.load({
        google: {
            families: ['Source Sans Pro:300,400,700', 'Oswald:300,400,700']
        }
    });
</script>


</html>