<!doctype html>
<html lang="en" class="{{ layout.cls }} dark antialiased">
<head >
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="{{ site.title }}" property="og:site_name">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    <title>{{ page.title }}</title>
    {% elsif layout.title %}
    <meta content="{{ layout.title }}" property="og:title">
    <title>{{ layout.title }}</title>
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    <title>{{ site.title }}</title>
    {% endif %}
    {% if page.title %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    {% if page.reading_time %}
    <meta name="twitter:label1" value="Reading time"/>
    <meta name="twitter:data1" value="{{ page.reading_time }} Read"/>
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    <meta name="description" content="{{page.description}}">

    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    <meta name="description" content="{{site.description}}">
    {% endif %}
    {% if page.url %}
    {% endif %}
    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}
    {% if page.image %}
    <meta content="{{ site.url }}{{ page.image }}" property="og:image">
    {% else %}
    <meta content="{{ site.url }}/img/cover-image.png" property="og:image">
    {% endif %}
    {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
    {% endif %}
    {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
    {% endif %}


    <!--    <link rel="stylesheet" href="/css/styles.css">-->
    <link rel="stylesheet" href="/dist/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Open+Sans:wght@300;500;700&display=swap"
          rel="stylesheet">


</head>
<body >
<div class="dark:bg-black bg-zinc-100">

    <div class="fixed inset-0 flex justify-center sm:px-8"><div class="flex w-full max-w-7xl lg:px-8"><div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div></div></div>
    <main class="container mx-auto dark:text-zinc-100 lg:px-20 text-gray-700 px-4 relative mx-auto max-w-7xl lg:px-8 ">
        {% include partials/nav-bar.html %}
        <div class="relative px-4 sm:px-8 lg:px-12">
        {{ content }}
        </div>
    </main>

    <footer class="mt-32 relative z-10">
        <div class="sm:px-8">
            <div class="mx-auto max-w-7xl lg:px-8">
                <div class="border-t border-zinc-100 pb-16 pt-10 dark:border-zinc-700/40 border-solid">
                    <div class="relative px-4 sm:px-8 lg:px-12">
                        <div class="mx-auto max-w-2xl lg:max-w-5xl">
                            <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
                                <div class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200"><a
                                        class="transition hover:text-violet-500 dark:hover:text-violet-400"
                                        href="/">Home</a><a
                                        class="transition hover:text-violet-500 dark:hover:text-violet-400"
                                        href="/projects">Projects</a>
                                    <a
                                        class="transition hover:text-violet-500 dark:hover:text-violet-400" href="/blog">Blog</a>
                                    <a class="transition hover:text-violet-500 dark:hover:text-violet-400" href="/experience">Experience</a>
                                    <a class="transition hover:text-violet-500 dark:hover:text-violet-400" href="/uses">Uses</a>
                                </div>
                                <p class="text-sm text-zinc-800 dark:text-zinc-400">© <!-- -->{{ 'now' | date: "%Y" }}<!-- --> Jay Mont. All
                                    rights reserved.</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
<script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
        integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
        crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));

        if ("IntersectionObserver" in window) {
            let lazyImageObserver = new IntersectionObserver(function (entries, observer) {
                entries.forEach(function (entry) {
                    if (entry.isIntersecting) {
                        let lazyImage = entry.target;
                        lazyImage.src = lazyImage.dataset.src;
                        lazyImage.srcset = lazyImage.dataset.srcset;
                        lazyImage.classList.remove("lazy");
                        lazyImageObserver.unobserve(lazyImage);
                    }
                });
            });

            lazyImages.forEach(function (lazyImage) {
                lazyImageObserver.observe(lazyImage);
            });
        } else {
            // Possibly fall back to a more compatible method here
        }
    });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://www.googletagmanager.com/gtag/js?id=UA-50836555-1" async></script>
<script defer>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-50836555-1');
</script>


</html>
