---
layout: core
title: Experience | Jay Mont | Software Developer
description: Here on this page I describe every job I ever had excluding freelance jobs, but full time jobs

---
<div class="mb-8 mt-16 lg:mt-32">
    <div class="max-w-2xl">
        <h1 class="text-5xl font-bold tracking-tight mb-4">Building Tomorrow's Software Today: Innovative Solutions from
            an Experienced Software Developer</h1>
        <p class="dark:text-zinc-400 leading-7">With a passion for technology and over 15 years of experience, I have
            developed a proven track
            record of creating innovative solutions through expert software engineering. From designing and developing
            cutting-edge applications to leading successful project teams.</p>

        <p class="dark:text-zinc-400 leading-7">Throughout my career, I have delivered results that have driven business
            growth and streamlined processes
            for organizations of all sizes. I have a strong ability to work collaboratively with cross-functional teams,
            to identify business requirements and design effective solutions that are delivered on-time and within
            budget.</p>

        <p class="dark:text-zinc-400 leading-7">As a software engineer, I am committed to staying on the forefront of
            the latest technologies and tools in
            the industry, and applying them to solve complex problems. My passion for technology and innovation has been
            instrumental in the successful delivery of numerous high-profile projects.</p>

        <p class="dark:text-zinc-400 leading-7">If you're looking for a skilled and experienced software engineer to
            help drive your business growth, please
            don't hesitate to contact me. Let's work together to create innovative solutions that take your business to
            the next level!</p>
        <p class="dark:text-zinc-400 leading-7"></p>
    </div>
</div>

<div class="mt-16 sm:mt-20">
    <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
        <div class="flex max-w-3xl flex-col space-y-16">
            {% assign jobs = (site.experience | sort: 'date') | reverse %}
            {% for job in jobs %}
            <article class="md:grid md:grid-cols-4 md:items-baseline">
                <div class="md:col-span-3 group relative flex flex-col items-start">
                    <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                        <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                        <a href="{{ job.url }}"><span
                                class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span><span
                                class="relative z-10">{{ job.title }}</span></a>
                    </h2>
                    <time class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5"
                          datetime="2022-09-05"><span class="absolute inset-y-0 left-0 flex items-center"
                                                      aria-hidden="true"><span
                            class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span></span> {{ job.period}}
                    </time>
                    <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                        {{ job.content | strip_html | truncatewords: 50}}
                    </p>
                    <div aria-hidden="true"
                         class="relative z-10 mt-4 flex items-center text-sm font-medium text-violet-500">Read more
                        <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="ml-1 h-4 w-4 stroke-current">
                            <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>
                <time class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500"
                      datetime="{{job.date}}">{{ job.period }}
                </time>
            </article>

            {% endfor %}
        </div>
    </div>
</div>

