---
layout: core
title: Freelance Projects | Jay Mont | Software Developer
---
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title text-left font-weight-light fz-32  text-uppercase mb-3">Projects</h1>
            </div>
        </div>


        {% assign projects = (site.projects | sort: 'date') | reverse %}
        {% for project in projects %}
        <div class="row mb-3">
            <div class="col-lg-12 col-12 d-flex my-3">
                <div class="col-12">
                    <p class="fz-24 "><span class="font-weight-bold">{{project.position }}</span> | {{project.company}}</p>
                    <p>{{ project.period }}</p>
                    <p class="">

                        {{ project.content }}

                    </p>
                </div>
            </div>



        </div>
        {% endfor %}

    </div>
</div>
